<%= form_for @repot, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :report_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :report_name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :employe, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :subdivision, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subdivision_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :organization, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :hours, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', rows: 6 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                repots_path, :class => 'btn' %>
  </div>
<% end %>
