<%= simple_form_for(@report, :html => { :class => 'form-horizontal' }) do |f| %>
  
  <%= f.input :report_name %>
  <%= f.input :hours %>  
  <%= f.input :description, :as => :text %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reports_path, :class => 'btn' %>
  </div>
<% end %>
